body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url('/Images/testimonialbg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.testimonials-section {
    padding: 80px 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 100px;
}

.testimonials-header h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 50px;
}

.testimonial-item {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 40px;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.testimonial-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.testimonial-item img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid #ddd;
}

.testimonial-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}

.testimonial-item h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
}

@media (max-width: 768px) {
    .testimonial-item img {
        width: 100px;
        height: 100px;
    }

    .testimonial-item h4 {
        font-size: 1.2rem;
    }

    .testimonial-item p {
        font-size: 1rem;
    }
}
